a, header, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.header {
    height: 75px;
    background: #1c5bc3 url(../img/logo_header.png) 20px 50% no-repeat;    
    padding: 20px;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: right;
    }
.tel {
    line-height: 2.571;
    }
.workhours {
    font-size: 14px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.702);
    font-weight: bold;
    text-decoration: underline;
        }
.workhours:hover {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline;
    }
/*.tooltip:hover span {
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute;
    left: 1em;
    top: 2em;
    z-index: 99;
    margin-left: 0;
    width: 250px;
    }
 */       
  
aside {
	float: left;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 30px;
    }
.main a {
    color: #000000;
    background: url(../img/main_icon.png) 20px no-repeat;
    padding: 0 0 0 60px;
    }
    /*.main:hover {
        color: #000000;
        list-style-image: url(img/main_icon.png);
    }*/
.crew a {
    color: #1c5bc3;
    background: url(../img/team_icon.png) 20px no-repeat;
    padding: 0 0 0 60px;
    }
    .crew a:hover {
        color: #000000;
        background: url(../img/team_icon1.png) 20px no-repeat;
        padding: 0 0 0 60px;
        }
.feedback a {
    color: #1c5bc3;
    background: url(../img/feed_icon.png) 20px no-repeat;
    padding: 0 0 0 60px;
    }
    .feedback a:hover {
        color: #000000;
        background: url(../img/feed_icon.png) 20px no-repeat;
        padding: 0 0 0 60px;
        }
      
.wrapper {
    width: 1100px;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.empty {
    height: 75px;
}
.article {
    width: 900px;
    font-family: 'Roboto-Light_1', sans-serif;
    font-size: 1.2em;
    line-height: 150%;
    margin-left: 200px;
}
.pic_company {
    height: 355px;
    width: 100%;
    margin-top: -26px;
    font-weight: bold;
    background: url(../img/pic_company.png);
    background-size: 100%;
}
h1 {
    margin-left: 75px;
    padding-top: 160px;
}
.mark {
    font-weight: bold;
}
.ticket_link {
    font-weight: bold;
    color: #ffffff; 
}
.note_ban {
    background-color: #1c5bc3;
    height: 112px;
    width: 700px;
    color: #ffffff;
    padding: 20px 0 0 30px;    
}
.partner h1 {
    margin: 0;
    padding: 0;
}
/*.container {
    width: 700px;
    height: 202px;
}*/
.partner1 {
    display: inline-block;
    margin: 10px 60px 20px 0px;
}
.partner2 {
    display: inline-block;
    margin: 10px 60px 20px 60px;    
}
.partner3 {
    display: inline-block;
    margin: 10px 60px 20px 60px;
}
.partner4 {
    display: inline-block;
    margin: 50px 100px 60px 0px;
    }
.partner5 {
    display: inline-block;
    margin: 50px 100px 60px 100px;    
    }
.partner6 {
    display: inline-block;
    margin: 10px 60px 60px 100px;
    }

.footer {
    margin-top: -75px;
    height: 55px;
    width: 1100px;
    background: #1c5bc3 url(../img/logo_header.png) 50% 50% no-repeat;
    padding: 20px;    
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    }
.footer_text {
    width: 50%;
    line-height: 150%;
}
.stress {
    border-bottom: 3px solid #809ad7;    
    font-weight: bold;
}
.container_footer {
    width: 50%;
    float: right;
    text-align: right;
}
.links a {
    background: url(../img/Ellipse1.png) no-repeat;
    margin: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    }
    .links a:hover {
        background: url(../img/Ellipse1_1.png) no-repeat;
        margin: 5px;
        width: 20px;
        height: 20px;
        display: inline-block;
        }

a img {
    margin-right: 4px;
    }
.footer_text span {
    font-weight: bold;
}

/* Intro page */

.wrap {
    background: url(../img/pic_intro.png) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    }
.wrap img {
     transform: translate(-50%, -50%);
     position: absolute;
     top: 40%;
     left: 50%;
    }
/*.link_main {
    width: 200px;
    height: 47px;
    border: 2px solid rgb(28, 91, 196);
    margin: 0 auto;
    padding-left: 18px;
    background: url(img/main_icon1.png) 170px no-repeat;
    border-radius: 5px;
    line-height: 3;
    }
    .link_main:hover {
        width: 200px;
        height: 47px;
        border: 2px solid rgb(28, 91, 196);
        margin: 0 auto;
        padding-left: 18px;
        background: rgb(28, 91, 196) url(img/main_icon1.png) 170px no-repeat;
        color: #ffffff;
        border-radius: 5px;
        line-height: 3;
        }*/

a::after {
    content: "";
    background: url(../img/main_icon1.png) 170px no-repeat;
    display: block;
    height: 25px;  
    width: 25px;
}

.wrap a {
    display: block;
    width: 200px;
    height: 47px;
    text-decoration: none;
    border: 2px solid rgb(28, 91, 196);
    border-radius: 5px;
    line-height: 3;
    color: rgb(28, 91, 196);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: url(../img/main_icon1.png) 170px no-repeat;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 55%;
    left: 50%;
    padding-left: 18px;
    }
.wrap a:hover {
        display: block;
        width: 200px;
        height: 47px;
        text-decoration: none;
        border: 2px solid rgb(28, 91, 196);
        border-radius: 5px;
        line-height: 3;
        color: #ffffff;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        background: rgb(28, 91, 196) url(../img/main_icon1.png) 170px no-repeat;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 55%;
        left: 50%;
        padding-left: 18px;
        }

  